<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a15520.newdictionary_ver2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />



    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@drawable/logoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Game1GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Game2GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Game3GuideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Game1Activity"
            android:label="@string/title_activity_game_test"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Game2Activity"
            android:label="@string/title_activity_game2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".RankingActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DocumentActivity"
            android:label="@string/title_activity_document"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IdiomsActivity"
            android:label="@string/title_activity_idioms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListDocumentsActivity"
            android:label="@string/title_activity_list_documents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendMailActivity"
            android:label="@string/title_activity_list_documents"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TranslateActivity"
            android:label="Advanced Translate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Game3Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".PreGame3Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SwtichGame1Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".ListEndpointActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>





        <service
            android:name=".MyConnectionService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".Game1_2P"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>

    </application>

</manifest>